<auto_close>ON</auto_close>
<auto_shrink>OFF</auto_shrink>
<auto_create_statistics>OFF</auto_create_statistics>
<auto_update_statistics>OFF</auto_update_statistics>
<auto_update_statistics_async>OFF</auto_update_statistics_async>
<change_tracking>OFF</change_tracking>
<auto_cleanup>OFF</auto_cleanup>
<change_retention>60</change_retention>
<containment>OFF</containment>
<cursor_close_on_commit>OFF</cursor_close_on_commit>
<cursor_close_on_default>LOCAL</cursor_default>
<date_correlation_optimization>OFF</date_correlation_optimization>
<encryption>OFF</encryption>
<db_state>ON</db_state>
<db_update>READ_WRITE</db_update>
<db_user_access>SINGLE_USER</db_user_access>
<delayed_durability>DISABLED</delayed_durability>
<db_chaining>OFF</db_chaining>
<trustworthy>OFF</trustworthy>
<default_fulltext_language>ENGLISH</default_fulltext_language>
<default_language>ENGLISH</default_language>
<nested_triggers>OFF</nested_triggers>
<transform_noise_words>OFF</transform_noise_words>
<two_digit_year_cutoff>9999</two_digit_year_cutoff>
<non_transacted_access>FULL</non_transacted_access>
<directory_name>./kendo/FILESTREAM</directory_name>
<parameterization>FORCED</parameterization>
<query_store>OFF</query_store>
<operation_mode>READ_WRITE</operation_mode>
<stale_query_threshold_days>2</stale_query_threshold_days>
<data_flush_interval_seconds>60</data_flush_interval_seconds>
<max_storage_size_MB>10</max_storage_size_MB>
<interval_length_minutes>1440</interval_length_minutes>
<sized_based_cleanup_mode>OFF</sized_based_cleanup_mode>
<query_capture_mode>ALL</query_capture_mode>
<max_plans_per_query>200</max_plans_per_query>
<recovery>SIMPLE</recovery>
<torn_page_detection>OFF</torn_page_detection>
<page_verify>NONE</page_verify>
<remote_data_archive>OFF</remote_data_archive>
<target_recovery_time>60</target_recovery_time>
<enable_broker>OFF</enable_broker>
<disable_broker>localhost</disable_broker>
<new_broker>localhost</new_broker>
<error_broker_conversations>OFF</error_broker_conversations>
<honor_broker_priority>OFF</honor_broker_priority>
<allow_snapshot_isolation>OFF</allow_snapshot_isolation>
<read_committed_snapshot>OFF</read_committed_snapshot>
<memory_optimized_elevate_to_snapshot>OFF</memory_optimized_elevate_to_snapshot>
<with_termination>NO_WAIT</with_termination>
<ansi_null_default>ON</ansi_null_default>
<ansi_nulls>ON</ansi_nulls>
<ansi_padding>ON</ansi_padding>
<ansi_warnings>ON</ansi_warnings>
<concat_null_yields_null>ON</concat_null_yields_null>
<quoted_identifier>ON</quoted_identifier>
<arithabort>ON</arithabort>
<numeric_roundabort>OFF</numberic_roundabort>
<recursive_triggers>OFF</recursive_triggers>
